.compliment-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ddd;
    padding: 10px;
    max-width: 500px;
}

.animation {
    animation-name: animation;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

img.compliment-image {
    width: 100%;
}


.compliment-text {
    font-weight: bold;
    font-size: 18px;
}

.header-text {
    text-align: center;
}




@keyframes animation {
    0% {
        transform:scale(1);
    }
    50% {
        transform:scale(1.1);
    }
    100% {
        transform:rotateY(1);
    }
}